<ion-card color="dark">
  <ion-card-header>
    <ion-card-subtitle>
      <span class="text-primary">{{ index+1 }}. {{ nowFavs}}</span>
      <span class="news-source-name">{{ mynew.source.name }}</span>
      <div class="newsplus">
        <ion-button fill="clear" (click)="optmenu()">
          <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
        </ion-button>
      </div>
    </ion-card-subtitle>
    <ion-card-title (click)="goWeb()">{{ mynew.title }}</ion-card-title>
  </ion-card-header>
  <ion-img *ngIf="mynew.urlToImage" [src]="mynew.urlToImage">

  </ion-img>
  <ion-card-content>
    <p>{{mynew.description}}</p>
  </ion-card-content>
</ion-card>